/PROG05_Tarea_2024_25_Alumnado/dist/
/Bueno_Cruz_Jose_PROG05_Tarea/nbproject/private/
/Bueno_Cruz_Jose_PROG05_Tarea/dist/
/Bueno_Cruz_Jose_PROG_Tarea06/nbproject/private/
/Bueno_Cruz_Jose_PROG_Tarea06/build/
/Bueno_Cruz_Jose_PROG_Tarea06/dist/
/Bueno_Cruz_Jose_PROG_Tarea07/build/
/Bueno_Cruz_Jose_PROG_Tarea07/dist/
/PROG08_Tarea2024_25_Alumnado/Bueno_Cruz_Jose_PROG_Tarea08/nbproject/private/
/Bueno_Cruz_Jose_PROG_Tarea08/nbproject/private/
/Bueno_Cruz_Jose_PROG_Tarea08/build/
